{% extends "base.html" %}

{% block content %}

<h1 class="mt-3">Изменить публикацию</h1>

<form class="mt-3" action="" method="post" novalidate>
    {{ form_edit_publ.hidden_tag() }}
    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text">{{ form_edit_publ.content.label }}</span>
            {{ form_edit_publ.content(class="form-control") }}
        </div>

        {% for error in form_edit_publ.content.errors %}
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {% if publ.is_private %}
        {{ form_edit_publ.is_private(class="btn-check", checked=True, id="btn-check-outlined") }}
        {{ form_edit_publ.is_private.label(class="btn btn-outline-secondary", for="btn-check-outlined") }}
        {% else %}
        {{ form_edit_publ.is_private(class="btn-check", id="btn-check-outlined") }}
        {{ form_edit_publ.is_private.label(class="btn btn-outline-secondary", for="btn-check-outlined") }}
        {% endif %}

    </div>

    <div class="mb-3">{{ form_edit_publ.submit(type="submit", class="btn btn-info") }}</div>

    {% if message %}
    <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

</form>

{% endblock content %}