{% extends "base.html" %}

{% block content %}

<div class="mt-3">
    <a class="shadow-lg button m-1" href="/members"><button class="btn btn-success m-1">Найти людей</button></a>

    <!-- friends -->
    <h1 class="main-header mt-3">Друзья</h1>

    <div class="container mt-3">
        {% if not friends_data %}
        <h4 class="fw-normal">У вас нет друзей!</h4>
        {% endif %}

        {% for item in friends_data %}
        <div class="mb-5 d-flex align-items-center">
            <img class="friends-avatar" src="/userava/{{ item.id }}">
            <div class="ms-3">
                <h1 class="ms-1">{{ item.name }} {{ item.surname }}</h1>
                <a class="button m-1" href="/profile/{{ item.id }}"><button class="btn btn-primary m-1">Посмотреть
                        профиль</button></a>

                <a class="button m-1" href="/unfollow/{{ item.id }}"><button class="btn btn-primary m-1">Удалить из
                        друзей</button></a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- who following -->
    <h1 class="main-header mt-3">Подписки</h1>

    <div class="container mt-3">
        {% if not who_follow_data or no_subscribes %}
        <h4 class="fw-normal">Вы ни на кого не подписались!</h4>
        {% endif %}

        {% for item in who_follow_data %}
        {% if item not in friends_data %}
        <div class="mb-5 d-flex align-items-center">
            <img class="friends-avatar" src="/userava/{{ item.id }}">
            <div class="ms-3">
                <h1 class="ms-1">{{ item.name }} {{ item.surname }}</h1>
                <a class="button m-1" href="/profile/{{ item.id }}"><button class="btn btn-primary m-1">Посмотреть
                        профиль</button></a>

                <a class="button m-1" href="/unfollow/{{ item.id }}"><button
                        class="btn btn-primary m-1">Отписаться</button></a>
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- followers -->
    <h1 class="main-header mt-3">Подписчики</h1>

    <div class="container mt-3">
        {% if not followers_data or no_subscribers %}
        <h4 class="fw-normal">На вас никто не подписался!</h4>
        {% endif %}

        {% for item in followers_data %}
        {% if item not in friends_data %}
        <div class="mb-5 d-flex align-items-center">
            <img class="friends-avatar" src="/userava/{{ item.id }}">
            <div class="ms-3">
                <h1 class="ms-1">{{ item.name }} {{ item.surname }}</h1>
                <a class="button m-1" href="/profile/{{ item.id }}"><button class="btn btn-primary m-1">Посмотреть
                        профиль</button></a>

                <a class="button m-1" href="/follow/{{ item.id }}"><button
                        class="btn btn-primary m-1">Принять</button></a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}