{% extends "base.html" %}

{% block content %}

<h1>Профиль</h1>


<div class="container">
    <!--<a class="button" href="/logout"><button class="btn btn-danger">Выйти</button></a>-->

    <div class="container d-flex align-items-center">
        <img class="avatar" src="/static/images/default_avatar-transformed.png">

        <div class="container">
            <h1>Вася Пупкин</h1>
            <p>Egestas cras felis aliquam euismod primis, blandit suscipit lorem per gravida scelerisque,
                vivamus
                tristique blandit nunc, facilisi volutpat magna feugiat. Mollis ipsum massa egestas, eros magnis sit
                libero lacus nullam, accumsan facilisis accumsan eget magnis volutpat, consectetuer duis sed parturient
                mi. </p>
        </div>
    </div>
</div>




{% endblock content %}