{% extends "base.html" %}

{% block content %}

<h1>Профиль</h1>


<div class="container">
    {% if id == current_user.id %}
    <div class="d-flex justify-content-end">
        <a class="button me-2" href="/new_publication"><button class="btn btn-warning">Новая публикация</button></a>
        <a class="button" href="/edit_profile/{{ current_user.id }}"><button
                class="btn btn-info">Редактировать</button></a>
        <a class="button ms-2" href="/change_avatar/{{ current_user.id }}"><button class="btn btn-secondary">Сменить
                аватар</button></a>
        <a class="button ms-2" href="/logout"><button class="btn btn-danger">Выйти</button></a>
    </div>
    {% endif %}


    <div class="container d-flex align-items-center">
        <img class="avatar" src="/userava/{{ id }}">

        <div class="container">
            <h1>{{ name }} {{ surname }}</h1>
            <p>{{ about }}</p>
        </div>
    </div>

    <div class="container">
        {% for item in publications %}
        <div class="col-md6 border rounded">
            <div>
                {{ item.content }}
            </div>

            <div>
                Автор - {{ item.user.name }}, Дата написания - {{ item.created_date }}
            </div>
        </div>

        {% endfor %}
    </div>
</div>




{% endblock content %}