{% extends "base.html" %}

{% block content %}

<h1>Профиль</h1>


<div class="container">
    {% if id == current_user.id %}
    <div class="d-flex justify-content-end">
        <div class="doing-group btn-group">
            <a class="btn btn-warning me-1 d-flex align-items-center"
                href="/new_publication/{{ current_user.id }}">Новая публикация</a>
            <a class="btn btn-info d-flex align-items-center"
                href="/edit_profile/{{ current_user.id }}">Редактировать</a>
            <a class="btn btn-secondary ms-1 d-flex align-items-center"
                href="/change_avatar/{{ current_user.id }}">Сменить аватар</a>
            <a class="btn btn-danger ms-1 d-flex align-items-center" href="/logout">Выйти</a>
        </div>
    </div>
    {% endif %}


    <div class="container d-flex align-items-center">
        <img class="avatar" src="/userava/{{ id }}">

        <div class="container">
            <h1>{{ name }} {{ surname }}</h1>
            <p>{{ about }}</p>
            {% if id != current_user.id %}
            <a class="btn btn-success" href="/new_chat/{{ id }}">Создать чат</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {% if id == current_user.id %}

        {% for item in publications %}
        <div class="col-md6 p-2 border rounded mb-2">
            <div class="publ-content mb-1">
                {{ item.content }}
                {% if item.is_private %}
                <span class="badge bg-secondary">Приватный</span>
                {% endif %}
            </div>

            <div class="publ-sub border-top pt-1">
                Автор - {{ item.user.name }}, Дата написания - {{ item.created_date }}
            </div>

            <div class="publ-sub border-top mt-2 pt-2">
                <a class="button me-2" href="/profile/make_like/{{ item.id }}/{{ current_user.id }}">
                    {% if item.id in likes %}
                    <button class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart-fill" viewBox="0 0 16 16" data-darkreader-inline-fill=""
                            style="--darkreader-inline-fill:currentColor;">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                        </svg>
                        {{ item.likes_amount }}
                    </button>
                    {% else %}
                    <button class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart-fill" viewBox="0 0 16 16" data-darkreader-inline-fill=""
                            style="--darkreader-inline-fill:currentColor;">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                        </svg>
                        {{ item.likes_amount }}
                    </button>
                    {% endif %}

                </a>
            </div>

            <div class="border-top mt-2 pt-2">
                <a class="btn btn-success m-1" href="/edit_publication/{{ item.id }}">Редактировать</a>
                <a class="btn btn-danger m-1" href="/delete_publication/{{ item.id }}">Удалить</a>
            </div>
        </div>
        {% endfor %}

        {% else %}

        {% for item in publications %}
        <div class="col-md6 p-2 border rounded mb-2">
            <div class="publ-content mb-1">
                {{ item.content }}
            </div>

            <div class="publ-sub border-top pt-1">
                Автор - {{ item.user.name }}, Дата написания - {{ item.created_date }}
            </div>

            <div class="publ-sub border-top mt-2 pt-2">
                <a class="button me-2" href="/profile/make_like/{{ item.id }}/{{ current_user.id }}">
                    {% if item.id in likes %}
                    <button class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart-fill" viewBox="0 0 16 16" data-darkreader-inline-fill=""
                            style="--darkreader-inline-fill:currentColor;">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                        </svg>
                        {{ item.likes_amount }}
                    </button>
                    {% else %}
                    <button class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart-fill" viewBox="0 0 16 16" data-darkreader-inline-fill=""
                            style="--darkreader-inline-fill:currentColor;">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                        </svg>
                        {{ item.likes_amount }}
                    </button>
                    {% endif %}
                </a>
            </div>
        </div>
        {% endfor %}

        {% endif %}



    </div>
</div>




{% endblock content %}